---
id: header
---
<header>
	<div class="header {{bgColor}}">
			<div class="container">
				<div class="row" id="inner">
					<h1 class="col-xs-12 col-sm-11 col-sm-offset-1">
						<span class="prefix">{{header1}}</span>
						<br><span class="h1-main">{{header2}}</span>
					</h1>
				</div>
			</div>
	</div>
</header>
