<div class="container-fluid hidden-xs no-padding-lr hidden-sm" id="category-filter-sorter">
	<div class="row no-gutter">
		<div id="category-filter" class="col-sm-6">
			<div id="category-tab"><span class="tab-label">See Categories</span><span class="triangle-down glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="triangle-up glyphicon glyphicon-triangle-top" aria-hidden="true"></span></div>
			<nav id="category-list">
				<ul>
					<li data-product-type="all">All Categories</li>
					<li data-product-type="mice">Mice</li>
					<li data-product-type="presenters">Presenters</li>
					<li data-product-type="trackballs">Trackballs</li>
					<li data-product-type="keyboards">Keyboards</li>
					<li data-product-type="keyboard-mouse-combos">Keyboard Mouse Combos</li>
					<li data-product-type="webcams">Webcams</li>
					<li data-product-type="headsets">headsets</li>
					<li data-product-type="pc-speakers">PC Speakers</li>
				</ul>
			</nav> 
		</div>

		<div id="filter-by-filter" class="col-sm-4">
			<div id="filter-by-tab"><span class="tab-label">Filter by</span><span class="triangle-down glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="triangle-up glyphicon glyphicon-triangle-top" aria-hidden="true"></span></div>
			<ul id="filter-by-list">
				<li>
					<div class="filter-list-title">Features</div>
					<ul>
						<li data-product-type="wireless">
							<input class="feature_checkbox" type="checkbox" name="f143" value="f143" id="f143">
							<label for="f143">Wireless</label>
						</li>
						<li data-product-type="wireless_bluetooth">
							<input class="feature_checkbox" type="checkbox" value="f31" id="f31">
							<label for="f31">Wireless - Bluetooth&reg;</label>
						</li>
						<li data-product-type="corded">
							<input class="feature_checkbox" type="checkbox" value="f42" id="f42">
							<label for="f42">Corded</labeL>
						</li>
						<li data-product-type="darkfield">
							<input class="feature_checkbox" type="checkbox" value="f1278" id="f1278">
							<label for="f1278">Darkfield Laser Tracking<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Tooltip content"></span></label>
						</li>
						<li data-product-type="ext_battery_life">
							<input class="feature_checkbox" type="checkbox" value="f56" id="f56">
								<label for="f56" id="extended_batt">Extended Battery Life</label>
						</li>
						<li data-product-type="hyper_fast_scrolling">
							<input class="feature_checkbox" type="checkbox" value="f67" id="f67">
							<label for="f67">Hyper-Fast Scrolling</labeL>
						</li>
						<li data-product-type="touch_surface">
							<input class="feature_checkbox" type="checkbox" id="f2671" value="f2671">
							<label for="f2671">Touch Surface<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Tooltip content"></span></label>
						</li>
						<li data-product-type="wireless_logitech_unifying">
							<input class="feature_checkbox" type="checkbox" value="f1293" id="f1293">
							<label for="f1293">Wireless - Logitech Unifying<span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Tooltip content"></span></label>
						</li>
					</ul>
				</li>
				<li>
					<div class="filter-list-title">Platform</div>
					<ul>
						<li data-product-type="windows"><input class="feature_checkbox" type="checkbox" id="windows" value="windows">
						<label for="windows">Windows</label>
					</li>
						<li data-product-type="mac"><input class="feature_checkbox" type="checkbox" id="mac" value="mac">
						<label for="mac">Designed for Mac</label>
					</li>
						<li data-product-type="chromeos"><input class="feature_checkbox" type="checkbox" id="chromeos" value="chromeos">
						<label for="chromeos">Chrome OS</label>
					</li>
						<li data-product-type="linux"><input class="feature_checkbox" type="checkbox" id="linux" value="linux">
						<label for="linux">Linux Compatible</label>
					</li>
					</ul>
				</li>
				<li>
					<div id="clear-all"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear All</div>
				</li>
			</ul>
		</div>

		<div id="sort-by-filter" class="col-sm-6">
			<div id="sort-by-tab"><span class="tab-label">Sort By</span><span class="triangle-down glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="triangle-up glyphicon glyphicon-triangle-top" aria-hidden="true"></span></div>
			<ul id="sort-by-list">
				<li data-sort-type="newest">Newest</li>
				<li data-sort-type="most_popular">Most Popular</li>
				<li data-sort-type="price_high_low">Price (High to Low)</li>
				<li data-sort-type="price_low_high">Price (Low to High)</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
 		<div id="num-showing"></div>
 	</div>
</div>
