---
id: footer
---
<!-- begin footer component -->
<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1" id="footer-links">
					<div class="col-md-3"><a href="">About</a></div>
					<div class="col-md-3"><a href="">Investors</a></div>
					<div class="col-md-3"><a href="">Logitech Academy</a></div>
					<div class="col-md-3"><a href="">Terms of Use</a></div>
					<div class="col-md-3"><a href="">Careers</a></div>
					<div class="col-md-3"><a href="">Press</a></div>
					<div class="col-md-3"><a href="">Special Offers</a></div>
					<div class="col-md-3"><a href="">Privacy + Security</a></div>
					<div class="col-md-3"><a href="">Contact</a></div>
					<div class="col-md-3"><a href="">Blog</a></div>
					<div class="col-md-3"><a href="">Social Hub</a></div>
					<div class="col-md-3"><a href="">Sitemap</a></div></div>
				</div>
				<div class="row social">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="social-newsletter-container">
							<ul class="social-links">
								<li><a href="#"><img src="/assets/images/icons/fb.png"></a></li>
								<li><a href="#"><img src="/assets/images/icons/tw.png"></a></li>
							</ul>
							<div class="newsletter-component">
								<form name="signupForm" id="sign-up-form" role="form" method="post" action="/">
									<label for="newsletter-email" id="newsletter-email-label">Newsletter subscription</label>

									<div class="newsletter-inputs">
										<input type="email" name="email" id="newsletter-email" placeholder="Enter your email" required>
										<input id="submit-button" type="image" src="/assets/images/icons/yellow-button-black-arrow.png">
									</div>
								</form>
								<div class="newsletter-message"><p></p></div>
							</div>
						</div>
						<div class="row copyright">
							<div class="language">
								<div class="country">
									<a href="http://www.logitech.com/en-us/change-location?">
										<div class="flag"><img src="/assets/images/icons/icon-flag-canada.png"/></div>
										<div class="name">Canada</div>
										<div class="arrow"></div>
									</a>
								</div>
								<div class="footer-select">
									<select class="dk-select-language">
										<option>English</option>
										<option>French</option>
									</select>
								</div>
							</div>
							<p>&copy; 2015 Logitech. All rights reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer component -->
