---
id: category-filter-sorter-mobile
---
<div class="container-fluid hidden-md no-padding-lr hidden-lg" id="category-filter-sorter-mobile">

		<div id="left-side">
			<div class="row">
				<div class="col-xs-12">
					<div id="category-tab-mobile" class="col-xs-10 no-padding-lr">
						<div class="tab-contents">
							<span class="tab-label">See Categories</span><span class="triangle-down glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="triangle-up glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
						</div>
					</div>
					<nav id="category-list-mobile" class="col-xs-10 no-padding-lr">
						<ul>
							<li data-product-type="all">All Categories</li>
							<li data-product-type="mice">Mice</li>
							<li data-product-type="presenters">Presenters</li>
							<li data-product-type="trackballs">Trackballs</li>
							<li data-product-type="keyboards">Keyboards</li>
							<li data-product-type="keyboard-mouse-combos">Keyboard Mouse Combos</li>
							<li data-product-type="webcams">Webcams</li>
							<li data-product-type="headsets">headsets</li>
							<li data-product-type="pc-speakers">PC Speakers</li>
						</ul>
					</nav>
					<div id="next-filter" class="col-xs-2 no-padding-lr">
						<div class="glyphicon glyphicon-chevron-right" aria-hidden="true"></div>
					</div>
				</div>
			</div>
		</div>

		<div id="right-side" class="hidden">

			<div class="row">

				<div id="prev-filter" class="col-xs-2 no-padding-lr">
					<div class="glyphicon glyphicon-chevron-left" aria-hidden="true"></div>
				</div>

				<div id="filter-by-filter-mobile" class="col-xs-10 no-padding-lr">
					<div id="filter-by-tab-mobile"><span class="tab-label">Filter by</span><span class="triangle-down glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="triangle-up glyphicon glyphicon-triangle-top" aria-hidden="true"></span></div>
					<ul id="filter-by-list-mobile">
						<li>
							<div class="filter-list-title">Features</div>
							<ul>
								<li data-product-type="wireless">
									<input class="feature_checkbox" type="checkbox" value="f143" id="mobile-f143">
									<label for="mobile-f143">Wireless</label>
								</li>
								<li data-product-type="wireless_bluetooth">
									<input class="feature_checkbox" type="checkbox" value="f31" id="mobile-f31">
									<label for="mobile-f31">Wireless - Bluetooth&reg;</label>
								</li>
								<li data-product-type="corded">
									<input class="feature_checkbox" type="checkbox" value="f42" id="mobile-f42">
									<label for="mobile-f42">Corded</labeL>
								</li>
								<li data-product-type="darkfield">
									<input class="feature_checkbox" type="checkbox" value="f1278" id="mobile-f1278">
									<label for="mobile-f1278">Darkfield Laser Tracking<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></label>
								</li>
								<li data-product-type="ext_battery_life">
									<input class="feature_checkbox" type="checkbox" value="f56" id="mobile-f56">
										<label for="mobile-f56" id="extended_batt">Extended Battery Life</label>
								</li>
								<li data-product-type="hyper_fast_scrolling">
									<input class="feature_checkbox" type="checkbox" value="f67" id="mobile-f67">
									<label for="mobile-f67">Hyper-Fast Scrolling</labeL>
								</li>
								<li data-product-type="touch_surfae">
									<input class="feature_checkbox" type="checkbox" id="f2671" value="mobile-f2671">
									<label for="mobile-f2671">Touch Surface<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></label>
								</li>
								<li data-product-type="wireless_logitech_unifying">
									<input class="feature_checkbox" type="checkbox" value="f1293" id="mobile-f1293">
									<label for="mobile-f1293">Wireless - Logitech Unifying<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></label>
								</li>
							</ul>
						</li>
						<li>
							<div class="filter-list-title">Platform</div>
							<ul>
								<li data-product-type="windows"><input class="feature_checkbox" type="checkbox" id="mobile-windows" value="windows">
								<label for="mobile-windows">Windows</label>
							</li>
								<li data-product-type="mac"><input class="feature_checkbox" type="checkbox" id="mobile-mac" value="mac">
								<label for="mobile-mac">Designed for Mac</label>
							</li>
								<li data-product-type="chromeos"><input class="feature_checkbox" type="checkbox" id="mobile-chromeos" value="chromeos">
								<label for="mobile-chromeos">Chrome OS</label>
							</li>
								<li data-product-type="linux"><input class="feature_checkbox" type="checkbox" id="mobile-linux" value="linux">
								<label for="mobile-linux">Linux Compatible</label>
							</li>
							</ul>
						</li>
						<li>
							<div id="clear-all-mobile"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear All</div>
						</li>
				</div>

				<div id="sort-by-filter-mobile" class="col-xs-10 no-padding-lr">
					<div id="sort-by-tab-mobile"><span class="tab-label">Sort</span><span class="triangle-down glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span><span class="triangle-up glyphicon glyphicon-triangle-top" aria-hidden="true"></span></div>
					<ul id="sort-by-list-mobile" class="col-xs-12 pull-right">
						<li data-sort-type="newest">Newest</li>
						<li data-sort-type="most_popular">Most Popular</li>
						<li data-sort-type="price_high_low">Price (High to Low)</li>
						<li data-sort-type="price_low_high">Price (Low to High)</li>
					</ul>
				</div>

			</div>
	</div>
</div>