---
title: Global Elements Page
id: global-elements
layout: default
header1: Lorem
header2: Ipsum
bgColor: purple-bg
---
{{partial "header"}}
<div class="content container">
	<div class="row">
	 <!-- body content goes here -->
	</div>
</div>
