---
id: page-listing
footerType: none
headerType: none
---

<style>
	h1 {
		padding-left: 12px;
		text-transform: capitalize;
		font-size: 41px;
	}

	ul {
		padding: 0;
		margin: 40px 0 0 0;
		list-style: none;
	}
	li {
		padding: 12px;
	}
</style>

<h1>Logitech Page Templates Index</h1>
<ul>
	<li>Build #: build_number</li>
</ul>
<ul>
	<li><a href="homepage.html">Home Page</a></li>
	<li><a href="global-elements.html">Global Elements Template</a></li>
	<li><a href="nav-category.html">Nav Category Template</a></li>
	<li><a href="compare.html">Compare Template</a></li>
	<li><a href="pdp.html">PDP Template</a></li>
	<li><a href="pdp-legacy.html">PDP Legacy Template</a></li>
	<li><a href="styleguide.html">Styleguide</a></li>
</ul>
