---
id: styleguide 
layout: styleguide 
---

<section>
	<h2>INTRODUCTION</h2>
	<p class="presentation">
		This style guide is documentation of the standards for the design we’ve created for Logitech.com. It is meant to give guidance for production of current and future features.
	</p>
</section>

<section>
	<h2 class="presentation">Colors</h2>
	<ul class="color-list">
		<li class="red-bg"></li>
		<li class="pink-bg"></li>
		<li class="yellow-green-bg"></li>
		<li class="teal-bg"></li>
		<li class="blue-bg"></li>
		<li class="medium-blue-bg"></li>
		<li class="purple-bg"></li>
		<li class="dark-gray-bg"></li>
		<li class="gray-bg"></li>
	</ul>
</section>

<section id="typography-styles">
	<h2 class="presentation">Typography</h2>
	<h5 class="element-title"> H1.h1-main - Brown Pro Bold - 120pt (7.5em)</h5>
	<h1 class="h1-main">Lorem Ipsum</h1>

	<h5 class="element-title">Default H1 - Brown Pro Bold - 44pt (7.5em)</h5>
	<h1>Lorem Ipsum</h1>

	<h5 class="element-title">Feature Title H3 - Brown Pro Bold - 64pt(4em)</h5>
	<div class="feature-tile">
		
		<h3 class="product-name">Lorem Ipsum</h3>
	</div>

	<h5 class="element-title">Hero Default H2 - Brown Pro Bold - 32pt(2em)</h5>
	<h2>Lorem Ipsum</h2>

	<h5 class="element-title">Hero Subheading H2 - Brown Pro Light - 32pt(2em)</h5>
	<span class="prefix">Lorem Ipsum</span>

	<h3 class="subsection-title">Titles</h3>
	<div class="title-styles">
		<h5 class="element-title">Product Hero H1 - Brown Pro Bold - 32pt (2em)</h5>
		<span class="product-hero-title">KEYS-TO-GO</span>
		
		<h5 class="element-title">Product Title - Brown Pro Regular - 18pt (1.25em)</h5>
		<span class="product-name">Wireless Headset H600</span>

		<h5 class="element-title">Product Title - On Light Color - Brown Pro Regular - 18pt (1.25em)</h5>
		<div class="on-color teal-bg">
			<span class="product-name">Wireless Trackball M570</span>
		</div>

		<h5 class="element-title">Product Title - On Dark Color - Brown Pro Regular - 18pt (1.25em)</h5>
		<div class="on-color purple-bg">
			<span class="product-name reversed">Wireless Trackball M570</span>
		</div>
	</div>

	<h3 class="subsection-title">Prices</h3>
	<div class="price-styles">
		<h5 class="element-title">Default Price - Brown Pro Regular - 16pt(1em)</h5>
		<span class="price"><sup>$</sup>69.<sup>99</sup></span>
		
		<h5 class="element-title">Feature Price - Brown Pro Light - 38pt(2.375em)</h5>
		<span class="feature-price"><sup>$</sup>69.<sup>99</sup></span>

	</div>

	<div class="paragraph-styles">
		<h3 class="subsection-title">Paragraphs</h3>
		<h5 class="element-title">Body Copy - Helvetica - 14pt(.875em)</h5>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores placeat praesentium porro aspernatur illo iure, quaerat excepturi eos unde, eveniet fugiat mollitia, quia! Asperiores consectetur illo expedita dolore et.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ducimus ipsam qui ratione tempora amet unde reiciendis labore tenetur numquam! Rerum, laborum unde! Expedita error odio eos perspiciatis itaque nemo, praesentium aspernatur esse sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, fugit. Aperiam, ullam.
		</p>
		
		<h5 class="element-title">Reversed</h5>
		<div class="on-color dark-gray-bg ">
			<p class="reversed">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque sed corporis dolor! Expedita accusamus quaerat vero pariatur in non distinctio labore a perspiciatis. Molestiae enim eveniet debitis veritatis? Consectetur, repellat?
			</p>
		</div>
	</div>

	<h3 class="subsection-title">Blockquotes</h3>

	<div class="blockquote-styles">
		<div class="on-color dark-gray-bg">
			<h5 class="element-title">Reversed Quote - Brown Pro Lightitalic - 32pt(2em)</h5>
			<h3 class="large-blockquote">“Finally, an iPad keyboard I can see myself using long-term.“</h3>
		</div>
		<div class="on-color">
			<h5 class="element-title">Reversed Quote Source - Brown Pro Thin - 20pt(1.25em)</h5>
			<h3 class="large-blockquote quote-source">Darrell Etherington, TechCrunch</h3>
		</div>

	</div>

</section>

<section>
	<h2 class="presentation">Lists</h2>

	<h5 class="element-title">Feature List</h5>
	<ul class="feature-list">
		<li class="open">
			Portable
			<p class="open">
				You’re going places. Take a keyboard. Keys-To-Go packs light, types comfortably and never leaves you at a loss for words.
			</p>
		</li>
		<li class="">Durable</li>
		<li class="">High quality</li>
	</ul>

	<h5 class="element-title">Plain List</h5>
	<ul class="plain-list">
		<li>Mechanical keyboard covered with FabricSkin</li>
		<li>Rechargeable 3-month battery with battery check indicator light</li>
		<li>Bluetooth wireless technology</li>
		<li>iOS keyboard shortcuts</li>
	</ul>

	<h5 class="element-title">Spec List</h5>
	<ul class="spec-list plain-list">
		<li><strong>Height</strong>5.39 in (137 mm)</li>
		<li><strong>Width</strong>9.53 in (242 mm)</li>
		<li><strong>Depth</strong>0.24 in (6 mm)</li>
		<li><strong>Weight</strong>6.35 oz (180 g)</li>
	</ul>
</section>


<section>

	<h2 class="presentation">Buttons</h2>

	<div class="button-styles">
		<h5 class="element-title">Learn More - Colored</h5>
		<button class="learn-more blue">Learn More</button>

		<h5 class="element-title">Learn More - Dark</h5>
		<button class="learn-more">Learn More</button>

		<h5 class="element-title">Learn More - Gray</h5>
		<button class="learn-more gaming-grey">Learn More</button>

		<h5 class="element-title">Disabled Button</h5>
		<button class="learn-more disabled">Disabled</button>

	</div>

	<div class="link-styles">

		<h3 class="subsection-title">Links</h3>
		<h5 class="element-title">Hero Action Link - Brown Pro Regular - 14pt(.875em)</h5>
		<div class="hero-action">
			<a href="#">Solo Link</a>
		</div>

		<h5 class="element-title">Nav link 2 - Brown Pro Regular - 14pt(.875em)</h5>
		<a href="#">Lorem ipsum dolor sit</a>

		<h5 class="element-title">Body Link - Brown Pro Regular - 12pt(.75em)</h5>
		<a href="#" class="body-link">Lorem ipsum</a>
	</div>

</section>


<section>
	<h2 class="presentation">Inputs</h2>
	<div class="input-styles">
		
		<h5 class="element-title">Large, Single Input</h5>
		<div class="newsletter-component">
			<form name="signupForm" id="sign-up-form" role="form" method="post" action="/">
				<label for="newsletter-email" id="newsletter-email-label">Newsletter subscription</label>
				<input type="email" name="email" id="newsletter-email" placeholder="Enter your email"required>
				<input id="submit-button" type="image" src="/assets/images/icons/yellow-button-black-arrow.png">
			</form>
			<div class="newsletter-message"><p></p></div>
		</div>

		<h5 class="element-title">Selection Box</h5>
		<div class="select-box">
			<select class="chosen-select">
				<option>English</option>
				<option>French</option>
			</select>
		</div>
	</div>
</section>



<section>
	<h2 class="presentation">Tables</h2>
	<h5 class="element-title">Tech Specs display</h5>
	<div class="col-sm-12 tech-spec-table">
		<div class="row">
			<div class="col-sm-6 spec-label">System Requirements</div>
			<div class="col-sm-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque.</div>
		</div>
		<div class="row">
			<div class="col-sm-6 spec-label">Dimensions
			<br>
				<a href="#" class="body-link">LOREM IPSUM</a>
			</div>
			<div class="col-sm-6">
					<ul class="spec-list plain-list">
						<li><strong>Height</strong>5.39 in (137 mm)</li>
						<li><strong>Width</strong>9.53 in (242 mm)</li>
						<li><strong>Depth</strong>0.24 in (6 mm)</li>
						<li><strong>Weight</strong>6.35 oz (180 g)</li>
					</ul>
			</div>
		</div>
	</div>


	<div class="table-styles">
		<h5 class="element-title">Feature table</h5>
		<div class="feature-list">
			{{#each feature-list.features}}
				{{partial "feature-row" this}}
			{{/each}}
		</div>





		<div class="specification-table">
			<h5 class="element-title">Specification table</h5>
			{{#each tech-specs.specs}}
			{{partial "specification-row" this}}
			{{partial "specification-row" this}}
			{{partial "specification-row" this}}
			{{/each}}
		</div>
	</div>
</section>
