---
id: global-navbar
---
<div id="global-navbar" class="{{bgColor}}">
	<div class="container">
		<div class="row">
	  	<div id="nav-icon" class="pull-left hidden-xs hidden-sm"><img src="/assets/images/sprites/hamburger.svg"></div>
	  	<div id="logo-container"><img src="/assets/images/logitech-logo.png"></div>
		  <div class="utility-nav pull-right">
		  	<ul>
		  		<li class="hidden-xs"><img src="/assets/images/sprites/search.svg"></li>
			  	<li class="hidden-xs"><img src="/assets/images/sprites/my-account.svg"></li>
			  	<li><img src="/assets/images/sprites/cart.svg"></li>
			  </ul>
			</div>
		</div>
	</div>
</div>
<div id="subnav" class="hidden-xs hidden-sm {{bgColor}} {{noSubNav}}">
	<div class="links">
		<a>Computer Accessories</a>
		<a>Mobile</a>
		<a>Smart Home</a>
		<a>Gaming</a>
		<a>Music</a>
		<a>Business</a>
		<a>Support</a>
	</div>
</div>
