---
id: feature-row
---
<div class="col-lg-12 compare-grid-feature">
  <div class="col-lg-3 compare-feature-name">
    {{name}}
  </div>
  <div class="col-lg-2 compare-feature-checked product-column-0">
    <div class="svg-check svg-check-dims"></div>
  </div>
  <div class="col-lg-2 compare-feature-checked product-column-1">
    <div class="svg-check svg-check-dims"></div>
  </div>
  <div class="col-lg-2 compare-feature-checked product-column-2">
    <div class="svg-check svg-check-dims"></div>
  </div>
  <div class="col-lg-2 compare-feature-checked product-column-3">
    <div class="svg-check svg-check-dims"></div>
  </div>
</div>