---
id: mobile-nav
---
<div id="mobile-nav" class="visible-xs visible-sm">
	<div id="mobile-nav-menu" class="hidden">
	  <div id="utility-subnav" class="pull-right">
	  	<ul>
	  		<li class=""><img src="/assets/images/sprites/search.svg"></li>
		  	<li class=""><img src="/assets/images/sprites/my-account.svg"></li>
		  	<li><img src="/assets/images/sprites/cart.svg"></li>
		  </ul>
		</div>
		<ul class="links">
			<li><img src="/assets/images/logitech-logo-mobile.png"></li>
			<li><a href="#">Computer Accessories</a></li>
			<li><a href="#">Mobile</a></li>
			<li><a href="#">Smart Home</a></li>
			<li><a href="#">Gaming</a></li>
			<li><a href="#">Music</a></li>
			<li><a href="#">Business</a></li>
			<li><a href="#">Support</a></li>
		</ul>
	</div>
	<div id="nav-icon-mobile" class="pull-left visible-xs visible-sm">
		<img src="/assets/images/sprites/hamburger.svg">
	</div>
</div>
