<!doctype html>
<html class="no-js {{id}}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Logitech</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="assets/sprite.css">
    <link rel="stylesheet" href="styleguide.css">
    <script src="head.js"></script>
    <script src="vendor/bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
    
  </head>
  <body class="{{id}}">
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="styleguide-header">
        <img src="assets/images/logitech-logo.png">
        <h5>Logitech Styleguide - v.1 2015/6/5</h5>
    </div>
    
    <div class="styleguide-elements col-lg-10 col-lg-offset-1">
        {% body %}
    </div>
        

    <script src="main.js"></script>
  </body>
</html>
