---
id: feature-tile
---
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-11 col-lg-offset-1 feature-tile">
	<img class="feature-image col-xs-12 col-lg-7" src="/assets/images/feature-images/keys-to-go.png">
	<div class="feature-metadata">
		<p class="product-name-prefix col-xs-11">Keys-To-Go</p>
		<p class="product-name col-xs-11">A Portable IPad Keyboard</p>
		<button class="learn-more">Learn more</button>
		<div class="price"><sup>$</sup>69<sup>99</sup></div>
	</div>
</div>
